@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #c9c9c9;
  --primary-dark: rgba(255, 255, 255, 0)
}

body {
  font-family: "Roboto Condesed" sans-serif;
}

/* .App {
  text-align: center;
} */
/* **************************************** NAVBAR *************************************** */
nav  a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.3px;
}

nav ul li {
 text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 6px;
  margin-left: 6px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  color: #fff !important;
  font-weight: 700;
  /* height: 6rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-orange);
}